@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-white: #fff;
  --primary-purple: #5c6691;
  --pink: #fc6894;
  --dark-purple: #1a1d29;
  --mid-purple: #24283a;
}

#root {
  background-color: #5c6691;
  background: linear-gradient(0deg, rgba(92, 102, 145, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* min-height: 100vh; */
}

html,
.body {
  min-height: 100vh;
  margin: 0 !important;
  /* background-color: #5c6691;
  background: linear-gradient(0deg, rgba(92, 102, 145, 1) 0%, rgba(0, 0, 0, 1) 100%); */
  font-family: 'Roboto Condensed' sans-serif;
  /* color: var(--primary-white); */
  overflow-x: hidden;
  min-width: 100%;
}

/*-------Nav------*/

.navbar {
  /* background-color: #5c6691 !important; */
  /* background-color: black !important; */
  transition: 1s;
  max-width: 100%;
}

.navbar.scrolled {
  background-color: var(--dark-purple) !important;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a {
  color: Var(--primary-white);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.navbar-brand {
  color: Var(--primary-white) !important;
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.navbar-brand:hover {
  color: Var(--pink) !important;
}

button .navbar-toggler {
  color: #fff;
}
.navbar-toggler:focus {
  color: #fff;
}
.navbar-toggler-icon {
  color: #fff;
}
.nav-link:hover {
  color: Var(--pink) !important;
}
.svg-inline--fa {
  color: #fff;
}

.switch.checked {
  color: var(--pink) !important;
}

.header-wrapper {
  /* position: relative; */
  /* background-image: url('./assets/wall-and-laptop-background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* min-height: fit-content; */
  /* height: 100%; */
  /* width: 100%; */
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  /* margin-top: 10vh; */
}

/*------Particles-----*/
#tsparticles {
  position: absolute;
  /* height: 50vh; */
  width: 100vw;
  z-index: 0;
}

/*-----Header-----*/
.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  margin-top: 20vh;
}

.profile-details {
  margin-top: 10vh;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-details-name {
  font-size: 24px;
  /* font-family: 'Poppins SemiBold'; */
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-family: 40px;
  /* font-family: cursive; */
}

.primary-text {
  color: var(--white);
}

.primary-text h1 {
  color: var(--pink) !important;
  /* color: var(--primary-white) !important; */
}

/* .teckstack-text {
  color: var(--pink) !important;
}

.span {
  color: var(--pink) !important;
} */

.highlighted-text {
  color: var(--dark-orange);
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  /* font-family: 'Poppins Light'; */
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: black;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 0 0px 0 100px;
}

.profile-picture-background {
  height: 85%;
  width: 85%;
  background-size: cover;
  background-image: url('./assets/pp.png');
  border-radius: 50%;
  box-shadow: 0 2px 0px 0px var(--white);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

/*----About----*/

.about-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-top: 4rem;
  margin-bottom: 4rem; */
  min-height: fit-content;
  /* background-color: #1a1d29; */
}

.about-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  /* border-radius: 20%; */
  /* border: 0.25rem solid;
  border-color: var(--pink);
  height: 50vh;
  width: 80vh;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 15rem; */
  /* width: 100vh; */
}

h2.about {
  margin-bottom: 3rem;
}

.about-side {
  display: flex;

  align-items: center;
  background-image: url('./assets/lightening-dark.png');
  background-size: cover;

  border-radius: 50%;
  box-shadow: 0 2px 0px 0px var(--white);
  background-repeat: no-repeat;
  background-position: center;

  min-height: 175px;
  min-width: 175px;
}

.about-parent {
  /* background-color: #b8bccd; */
  /* background-color: #3b425e; */
  /* background-color: #333952; */
  /* height: 30vh; */
  width: 80vh;
  /* position: relative;
  left: -1rem;
  bottom: 1rem; */
  z-index: 30;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 7rem;
}

/* .about-parent:after {
  height: 50vh;
  width: 80vh;
  content: ' ';
  position: absolute;
  transform: translate3d(-330px, -350px, 0);

  border: 3px solid var(--pink);
  box-sizing: border-box;
} */
.about-details {
  padding: 3rem;
  color: #fff;
}

.about-details-stack {
  padding: 3rem;
  color: var(--pink);
  text-transform: uppercase;
  font-size: 20px;
}

.about-skills {
  /* margin-right: 15rem; */
  padding: 2rem;
  background-color: var(--pink);
  width: 40vh;
  height: 50vh;
}

.about-skills:after {
  width: 40vh;
  height: 50vh;
  content: ' ';
  position: absolute;
  transform: translate3d(-150px, -340px, 0);

  border: 3px solid var(--dark-purple);
  box-sizing: border-box;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15rem solid transparent;
  border-right: 15rem solid transparent;
  border-bottom: 15rem solid var(--primary-purple);
  position: absolute;
  bottom: 50vh;
}

.primary {
  color: #fff;
}

/*----portfolio----*/

.portfolio-wrapper {
  margin: 50px;
  padding-bottom: 5rem;
  background-color: #1a1d29;
}

/* .portfolio-card {
  max-width: 30vh;
  margin: 40px;
} */

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* .col {
  max-width: 20vh;
  margin: 200px;
} */

.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-top: 3rem;
}

.portfolio-title,
h1 {
  color: #fff;
}
.portfolio {
  /* background-color: var(--dark-purple); */
  background-color: #1a1d29;
}

.portfolio-container {
  padding-bottom: 3rem;
  /* padding-top: 5rem; */
  padding: 2rem 6rem 2rem 6rem;
}

.portfolio-card {
  padding: 3rem;
}
/*----footer----*/

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 200px;
  /* position: absolute;
  bottom: 0; */
  background-color: #1a1d29;

  /* margin-top: 80px; */
  z-index: 900;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: aliceblue; */
  width: 30rem;
  color: aliceblue;
  font-size: 1.3rem;
  /* height: 4rem; */
}

.footer-logo {
  background-image: url('./assets/squiggle-dark.png');
  width: 10rem;
  /* height: 4rem; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: violet; */
  color: aliceblue;
  width: 30rem;
  /* height: 4rem; */
}

/*----contact form----*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #1a1d29; */
  background-color: var(--mid-purple);
}

h2.contact-title {
  color: #fff;
  margin: 2rem;
  padding-top: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2rem; */
  padding-bottom: 5rem;
  min-width: 50vh;
  z-index: 1000;
}

.contact-btn {
  margin: 1rem;
}

#name,
#email,
#message {
  width: 50vh;
  margin: 0.5rem;
  border: 2px solid var(--pink);
  background: transparent;
  width: 100%;
  height: 40px;
  color: white;
}
#message {
  height: 200px;
}

input:-internal-autofill-selected {
  background-color: -internal-dark;
}

/*----media queries----*/

@media screen and (max-width: 1600px) {
  .portfolio-container {
    padding-bottom: 2rem;
    /* padding-top: 5rem; */
    padding: 1rem 4rem 1rem 4rem;
  }
}

@media screen and (max-width: 1480px) {
  .about-side {
    min-width: 150px;
    min-height: 150px;
  }
  .about-parent {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 1290px) {
  .profile-picture {
    height: 350px;
    width: 350px;
    margin: 0 0 0 4px;
  }
  .portfolio-container {
    /* padding-bottom: 2rem; */
    /* padding-top: 5rem; */
    padding: 1rem 2rem 1rem 2rem;
  }
}

@media screen and (max-width: 1110px) {
  .profile-picture {
    height: 250px;
    width: 250px;
    margin: 0 0px 0 20px;
  }

  .profile-details {
    margin-left: 10px;
  }

  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
  .about-wrapper {
    flex-direction: column;
    justify-items: center;
  }

  .footer-links {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    /* height: 320px;
    width: 320px; */
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .header-wrapper {
    /* height: 80vh; */
  }
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-options,
  .profile-details-role {
    text-align: center;
  }

  .about-parent {
    width: 70vh;
  }
}

@media screen and (max-width: 650px) {
  .header-wrapper {
    padding: 1rem;
  }
  .about-details {
    margin: 2rem;
  }
  .about-side {
    min-width: 100px;
    min-height: 100px;
  }
  .porftolio-card {
    padding: 1rem;
  }
  .card-col {
    margin: 0rem !important;
    padding: 0.5rem;
  }
  .footer-container {
    flex-direction: column;
    min-height: 140px;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-around;
    width: auto;
  }
  .footer-social {
    flex-direction: row;
    width: auto;
  }
  .container {
    width: 60% !important;
    margin: 0 10rem 0 0 !important;
    padding: 0 !important;
  }
  .navbar {
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  .card-text {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
